html,
body {
	margin:0;
	padding:0;
	overflow-x: hidden;
	font-family: $body-font;
	font-size: 20px;
	color: $text_color;
	line-height: 34.5px;
	font-weight: 300;
}
* {
	box-sizing: border-box; 
}
//Default Fonts
h1, h2, h3, h4, h5,h6, [class*="heading-"] {
	font-family: $header-font;
	margin: 0;
	font-weight: 700;
	color: inherit;
	line-height: 1;
}

h1, .heading-1 {
	font-size: 50px;
	
}

h2, .heading-2 {
	font-size:  3.5rem;
	@include bp-small {
		font-size: 3rem;
	}
}

h3, .heading-3 {
	font-size: 3rem;
	@include bp-small {
		font-size: 2.5rem;
	}
}
h4, .heading-4 {
	font-size: 2.5rem;
	@include bp-small {
		font-size: 2.25rem;
	}
}

h5, .heading-5 {
	font-size: 2rem;
}

h6, .heading-6 {
	font-size: 1.5rem;
}

.mono {
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
}

.bold {
	font-weight: 700;
}
.semi-bold {
	font-weight: 500;
}

.large {
	font-size: 23px;
	line-height: 33px;
}

.small {
	font-size: 17px;
}

//Links
a {
	text-decoration: none;
}
p {
	a {
		font-weight: bold;
		text-decoration: none;
		color: $primary_color;
		display: inline-block;
		@include transition(color);
		&:hover, &:active, &:focus {
			color: darken($primary_color,15%);
		}
	}
}


//Images 
img,svg {
	max-width: 100%;
	height: auto;
	display: block;
	margin: auto;
}

//Form Inputs
input:not([type="checkbox"]),input:not([type="radio"]),textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	font-family: $body-font;
	font-size: 1rem;
	padding: 0.5rem;
	text-align: left;
	&:active, &:focus {
		outline: 0;
	}
	&.submit {
		white-space: normal;
	}
}
button,.btn {
	box-shadow: none;
	border: none;
	&:active, &:focus {
		outline: 0;
	}
}

.hidden {
	display: none !important;
}

//sections 
section {
	padding: 1.8rem;
	.inner-section {
		max-width: $size-large;
		margin: auto;
		width: 100%;
	}
}