//Color Variables
$black: #000;
$white: #fff;
$blue: #0059FC; 
$yellow: #FFC402;

//Theme colors
$text_color: $black;
$primary_color: $blue;
$secondary_color: $white;
//Mobile Breakpoints
$size-x-large: 1280px;
$size-large: 1037px;
$size-medium: 768px;
$size-small: 568px;
//Transition
$transition_duration: .5s;
//Fonts
$header-font: 'Oswald', sans-serif;
$body-font: 'Roboto', sans-serif;