---
title: Workforce Sprint
description: "Solve problems for American workers, businesses, investors, and communities by catalyzing cross-sector collaboration."
layout: default
permalink: /
css: home
content-id: home
slick: true
scripts: 
- timeline-slider
hero: 
  subtitle: July - Sept 2019
  title: "Workforce Sprint"
  text: "Solve problems for American workers, businesses, investors, and communities by catalyzing cross-sector collaboration."
---
{% include hero.html %}
{% include timeline-slider.html %}