<footer>
  <section id="footer-topbar">
    <div class="inner-section">
      {% for link in site.data.footer.topbar %}
      <a class="footer-topbar-link" href="{{ link.url }}">
        {{ link.title }}
      </a>
      {% endfor %}
    </div>
  </section>
  <section id="footer-content">
    <div class="inner-section">
      <div class="footer-grid">
        <div class="footer-col info-col left">

        </div>
        <div class="footer-col links-col right">
          <div class="social-links">
            {% for link in site.data.footer.social %}
            <a href="{{ link.url }}" aria-label="{{ link.title }}">
            {{ link.icon }}
            </a>
            {% endfor %}
          </div>
          <div class="contact">
            <div class="contact-title">
            {{ site.data.footer.contact.title }}
            </div>
            <div class=""></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>